# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
numpy=1.21.2=py37h20f2e39_0
numpy-base=1.21.2=py37h79a1101_0
opencv-python=4.5.4.60=pypi_0
pandas=1.3.5=py37he8f5f7f_0
pillow=8.4.0=py37h0f21c89_0
python=3.7.12=hb7a2778_100_cpython
scikit-learn=1.0.1=py37hf9e9bfc_3
scipy=1.7.3=py37hf2a6cf1_0
torchaudio=0.10.0=py37_cu111
torchvision=0.11.1=py37_cu111
tqdm=4.62.3=pyhd8ed1ab_0
xlrd=1.2.0=pyh9f0ad1d_1
xlwt=1.3.0=py_1